.btnwrapper > button,
.otherOptions > button {
  background-color: rgb(18, 67, 172) !important;
  border-color: #1243ac !important;
}
.btnwrapper > button:hover,
.otherOptions > button:hover {
  background-color: #136fd8 !important;
}
.form-wrapper {
  height: 100%;
}

.button {
  text-align: center;
  text-decoration: none;
  color: #fff !important;
  font-size: 20px;
  font-weight: 500;
  padding: 0.5em 1.2em;
  background-color: rgb(40, 86, 185);
  border-radius: 10px !important;
  position: relative;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.button:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  transition: all 0.5s ease;
  border-radius: 10px !important;
}
.button:hover:before {
  width: 100%;
}
.button:hover {
  color: rgba(255, 255, 255, 1) !important;
  box-shadow: 0 4px 16px rgb(7, 111, 230);
  transition: all 1s ease;
}
.button-others {
  text-align: center;
  text-decoration: none;
  color: #fff !important;
  font-size: 20px;
  font-weight: 500;
  padding: 0.5em 1.2em;
  background-color: rgb(17, 161, 245);
  border: none;
  position: relative;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 10px !important;
}
.button-others:hover {
  color: rgba(255, 255, 255, 1) !important;
  box-shadow: 0 4px 16px rgb(7, 111, 230);
  transition: all 0.9s ease;
}
.dropdown-menu {
  background-color: rgb(206, 206, 206) !important;
}

ul > li > a {
  color: white !important;
}
