body {
  background-image: url(./221199352_2938342696384472_8908089810100858411_n.jpg);
  background-size: auto !important;
  height: 100%;
  width: 100%;
}
:root {
  --bg-azul: #1243ac;
  --text-white: #fff;
  --bg-azul-d: #052b49;
  --bg-yellow: #f7db71;
  --bg-blue-light: #76cce8;
  --bg-green-success: #107631;
}
.bg-azul-d {
  background-color: var(--bg-azul-d);
  color: var(--text-white);
}
.bg-azul {
  background-color: var(--bg-azul);
  color: white;
}
