body {
  background-image: url(/public/images/alderecabuilding.jpg);
  background-size: auto !important;
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --bg-azul: #1243ac;
  --text-white: #fff;
  --bg-azul-d: #052b49;
  --bg-yellow: #f7db71;
  --bg-blue-light: #76cce8;
  --bg-green-success: #107631;
}
.bg-azul-d {
  background-color: var(--bg-azul-d);
  color: var(--text-white);
}
.bg-azul {
  background-color: var(--bg-azul);
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.Navbar {
  background-color: #052b49;
}

header {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: xx-large;
}
footer {
  background-color: rgba(139, 138, 138, 0.575);
  margin: 0;
}
.btnwrapper > button,
.otherOptions > button {
  background-color: rgb(18, 67, 172) !important;
  border-color: #1243ac !important;
}
.btnwrapper > button:hover,
.otherOptions > button:hover {
  background-color: #136fd8 !important;
}

.button {
  text-align: center;
  text-decoration: none;
  color: #fff !important;
  font-size: 20px;
  font-weight: 500;
  padding: 0.5em 1.2em;
  background-color: rgb(40, 86, 185);
  position: relative;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.button:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  transition: all 0.5s ease;
}
.button:hover:before {
  width: 100%;
}
.button:hover {
  color: rgba(255, 255, 255, 1) !important;
  box-shadow: 0 4px 16px rgb(7, 111, 230);
  transition: all 1s ease;
}
.button-others {
  text-align: center;
  text-decoration: none;
  color: #fff !important;
  font-size: 20px;
  font-weight: 500;
  padding: 0.5em 1.2em;
  background-color: rgb(17, 161, 245);
  border: none;
  position: relative;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.button-others:hover {
  color: rgba(255, 255, 255, 1) !important;
  box-shadow: 0 4px 16px rgb(7, 111, 230);
  transition: all 0.9s ease;
}
.dropdown-menu {
  background-color: #1243ac !important;
}

ul > li > a {
  color: white !important;
}

ul > li > a {
  background-color: #1243ac !important;
}
